language: python
sudo: false
env:
  global:
    - PYTHON_VERSION=3.5
  matrix:
    - ENABLE_QIITA=False
    - ENABLE_QIITA=True
before_install:
  - wget http://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b
  - export PATH=/home/travis/miniconda3/bin:$PATH
  # Update conda itself
  - conda update --yes conda
install:
  # Install Qiita first since it is needed for the environment and the tests
  - conda create --yes -n qiita python=2.7 pip nose flake8 pyzmq networkx \
    pyparsing natsort mock future libgfortran 'pandas>=0.18' 'scipy>0.13.0' \
    'numpy>=1.7' 'h5py>=2.3.1'
  - source activate qiita
  - pip install sphinx==1.5.5 sphinx-bootstrap-theme ipython[all]==2.4.1
  - pip install https://github.com/biocore/qiita/archive/master.zip --process-dependency-links
  - export MOI_CONFIG_FP=$HOME/miniconda3/envs/qiita/lib/python2.7/site-packages/qiita_core/support_files/config_test.cfg
  # Create the ipython profiles and the Qiita environment
  - ipython profile create qiita-general --parallel
  - qiita-env start_cluster qiita-general
  - qiita-env make --no-load-ontologies
  # Start the qiita server in the backend
  - qiita pet webserver --no-build-docs start &
  # Deactivate the Qiita environment
  - source deactivate
  # Set the labman config file
  - cp labman/db/support_files/test_config.cfg ~/.labman.cfg
  # Install labman
  - travis_retry conda create --yes -n labman python=$PYTHON_VERSION pip nose flake8
  - source activate labman
  - python --version
  - pip install -U pip
  - pip install sphinx sphinx-bootstrap-theme coveralls
  - pip install https://github.com/qiita-spots/qiita_client/archive/master.zip
  - travis_retry pip install .
script:
  - nosetests --with-doctest --with-coverage -v --cover-package=labman
  - flake8 labman setup.py scripts/*
addons:
  postgresql: "9.3"
services:
  - redis-server
  - postgresql
after_success:
  - coveralls
