{% extends sitebase.html %}

{% block head %}
<link rel="stylesheet" href="/static/vendor/css/slick-default-theme.css" type="text/css"/>
<link rel="stylesheet" href="/static/vendor/css/slick.grid.css" type="text/css"/>

<script src="/static/vendor/js/jquery.event.drag-2.3.0.js" type="text/javascript"></script>
<script src="/static/vendor/js/slick.core.js" type="text/javascript"></script>
<script src="/static/vendor/js/slick.grid.js" type="text/javascript"></script>
<script src="/static/vendor/js/slick.editors.js" type="text/javascript"></script>

<script type='text/javascript'>
  var poolParams = {% raw pool_params %};

  function prepopulateGUI() {
    var plateIds = {% raw plate_ids %};
    var processId = {% raw process_id if process_id else 'null' %};
    if (processId !== null) {
      disableAll();
      bootstrapAlert('Loading data...', 'info');
      var funcData = {% raw pool_func_data %};
      var plateType = funcData['function'] === 'amplicon' ? '16S library prep' : 'shotgun library prep';
      $('#plate-type-select').val(plateType);
      $('#plate-list-div').show();
      var requests = [addPlate({{input_plate}})];
      $.when.apply($, requests).then(function() {
        setTimeout(function () {
          var plateId = {{input_plate}};
          // Choose the function
          $('#pool-func-' + plateId).val(funcData['function']);
          // Build the function FROM
          $('#pool-func-' + plateId).trigger($.Event('change'));
          $.each(poolParams[funcData['function']], function(idx, paramElem) {
            parameterName = paramElem['prefix'] + plateId;
            $('#' + parameterName).val(funcData['parameters'][paramElem['prefix']]);
            // Create the grid
            createPoolingGrid(plateId, {% raw pool_values %});
            // Add the download button
            $('#download-' + plateId).find('a').attr('href', '/process/poollibraries/' + processId + '/pool_file');
            $('#download-' + plateId).prop('hidden', false);
          });
          disableAll();
          $('#alert-message').alert('close');
        }, 500);
      });
    } else if (plateIds.length > 0) {
      bootstrapAlert('Loading data...', 'info');
      $('#plate-type-select').val('{{plate_type}}');
      $('#plate-type-select').trigger($.Event('change'));
      var requests = [];
      for (var pId of plateIds) {
        requests.push(addPlate(pId));
      }
      $.when.apply($, requests).then(function(){
        setTimeout(function(){
          $('#alert-message').alert('close');
        }, 500);
      });
    }
  }

  function createPoolingGrid(plateId, arrayValues){
    var sgOptions = {editable: false,
                     enableAddRow: false,
                     enableCellNavigation: true,
                     asyncEditorLoading: false,
                     enableColumnReorder: false,
                     autoEdit: false};
    var sgCols = [{id: 'selector', name: '', field: 'header', width: 30}]
    for (var i = 0; i < arrayValues[0].length; i++) {
      sgCols.push({id: i, name: i+1, field: i});
    }
    var data = [];
    var rowId = 'A';
    for (var i = 0; i < arrayValues.length; i++) {
      var d = (data[i] = {});
      d["header"] = rowId;
      for (var j = 0; j < arrayValues[i].length; j++) {
        d[j] = arrayValues[i][j];
      }
      rowId = getNextRowId(rowId);
    }

    // Make sure to destroy the previous slickgrid element
    var prevGrid = $('#pool-results-' + plateId).data("gridInstance");
    if (prevGrid !== undefined && prevGrid !== null) {
      prevGrid.destroy();
    }
    // Magic number 31: A good approximation of cell height
    $('#pool-results-' + plateId).css('width', '100%').css('height', (31 * data.length) + 'px');
    var grid = new Slick.Grid($('#pool-results-' + plateId), data, sgCols, sgOptions);
    // Set the grid so we can recover it later
    $('#pool-results-' + plateId).data("gridInstance", grid);
  };

  function getPlateInformation(elem) {
    var plateId = $(elem).attr('pm-data-plate-id');
    var plateType = $('#plate-type-select').val();
    var parameterName, poolFunc;

    if (plateType === '16S library prep') {
      poolFunc = 'amplicon';
    } else {
      poolFunc = $(elem).find('select').val();
    }

    var plateInfo = {'plate-id': plateId, 'pool-func': poolFunc};
    $.each(poolParams[poolFunc], function(idx, paramElem) {
      parameterName = paramElem['prefix'] + plateId;
      plateInfo[parameterName] = $('#' + parameterName).val();
    });

    return plateInfo;
  };

  function computePoolValues() {
    $('#compute-pool-btn').prop('disabled', true);
    var plates = $('#plate-list').children();
    // Perform all the requests to the server
    var requests = [];
    var postData;
    $.each(plates, function(idx, elem) {
      postData = getPlateInformation(elem);
      requests.push($.post('/process/compute_pool', {'plate-info': JSON.stringify(postData)}));
    });
    $.when.apply($, requests).then(function(){
      // The nature of arguments change based on the number of requests performed
      // If only one request was performed, then arguments only contain the output
      // of that request. On the other hand, if there was more than one request,
      // then arguments is a list of results
      var arg = (requests.length === 1) ? [arguments] : arguments;
      $.each(arg, function(idx, response) {
        // Response is a list of 3 elements. The actual response from the
        // server is located in the first elem
        var results = response[0];
        var plateId = results['plate_id'];
        var arrayValues = results['pool_vals'];

        // Create a slickgrid to visualize the pooling values
        createPoolingGrid(plateId, arrayValues);

      });
      poolingChecks();
    });
  };

  function createPool() {
    disableAll();
    var page = $("html, body").animate({scrollTop: 0}, 500);
    var plates = $('#plate-list').children();
    // Perform all the requests to the server
    var requests = [];
    var postData = [];
    $.each(plates, function(idx, elem) {
      postData.push(getPlateInformation(elem));
    });
    $.post('/process/poollibraries', {'plates-info': JSON.stringify(postData)}, function(data) {
      bootstrapAlert('Information saved', 'success');
      // Make the download buttons available
      var processInfo = JSON.parse(data);
      $.each(processInfo, function(idx, elem) {
        var plateId = elem['plate-id'];
        var processId = elem['process-id'];
        $('#download-' + plateId).find('a').attr('href', '/process/poollibraries/' + processId + '/pool_file');
        $('#download-' + plateId).prop('hidden', false);
      });
    })
      .fail(function (jqXHR, textStatus, errorThrown) {
        bootstrapAlert(jqXHR.responseText, 'danger');
      });
  };

  function poolingChecks() {
    var plates = $('#plate-list').children();
    if (plates.length === 0) {
      $('#pool-btn').prop('disabled', true);
    } else {
      var isPoolBtnDisabled = $('#compute-pool-btn').prop('disabled');
      var disabled = !isPoolBtnDisabled;
      var plateType = $('#plate-type-select').val();
      if (plateType === '16S library prep') {
        $.each(plates, function(idx, elem) {
          var plateId = $(elem).attr('pm-data-plate-id');
          $.each(poolParams['amplicon'], function(idx, paramElem) {
            var isEmpty = $('#' + paramElem['prefix'] + plateId).val() === '';
            $('#compute-pool-btn').prop('disabled', isEmpty || isPoolBtnDisabled);
            disabled = disabled || isEmpty;
          });
        });
      } else {
        $.each(plates, function(idx, elem) {
          var plateId = $(elem).attr('pm-data-plate-id');
          var poolFunc = $(elem).find('select').val();
          if (poolFunc === null) {
            $('#compute-pool-btn').prop('disabled', true);
            disabled = true;
          } else {
            $.each(poolParams[poolFunc], function(idx, paramElem) {
              var isEmpty = $('#' + paramElem['prefix'] + plateId).val() === '';
              $('#compute-pool-btn').prop('disabled', isEmpty || isPoolBtnDisabled);
              disabled = disabled || isEmpty;
            });
          }
        });
      }
      $('#pool-btn').prop('disabled', disabled);
    }
  };

  function enableComputePoolValues() {
    // Enable the compute pool values
    $('#compute-pool-btn').prop('disabled', false);
    // Force the user to recompute before using - this is to avoid the case in
    // which the user thinks that the values that he is seeing now are the
    // values that correspond to the selected function
    $('#pool-btn').prop('disabled', true);
  };

  function paramOnChangeCallback() {
    enableComputePoolValues();
    poolingChecks();
  };

  function poolFuncCallback() {
    var plateId = $(this).attr('plate-id');
    var $target = $('#pool-params-div-' + plateId);
    $target.empty();
    $.each(poolParams[$(this).val()], function(idx, elem) {
      createNumberInputDOM($('#pool-params-div-' + plateId), plateId, paramOnChangeCallback, elem['desc'], elem['value'], elem['prefix'], elem['step'], elem['min']);
    });
    enableComputePoolValues();
    poolingChecks();
  }

  function removePlate(plateId) {
    // Make sure to destroy the slickgrid element if it exists
    var prevGrid = $('#pool-results-' + plateId).data("gridInstance");
    if (prevGrid !== undefined && prevGrid !== null) {
      prevGrid.destroy();
    }
    // Remove the plate from the list
    $('#plate-' + plateId).remove();
    // Re-enable the button to add the plate to the list
    $('#addBtnPlate' + plateId).prop('disabled', false);
    // Re-enable the select plate type if no plates have been selected
    $('#plate-type-select').prop('disabled', $('#plate-list').children().length !== 0);
    // Enable/disable the extraction button
    poolingChecks();
  };

  function addPlate(plateId) {
    // Disable the plate type select
    $('#plate-type-select').prop('disabled', true);

    var req = $.get('/plate/' + plateId + '/', function (data) {
      var $divElem = $("<div>");
      $divElem.addClass('list-group-item');
      $divElem.attr('id', 'plate-' + plateId);
      $divElem.attr('pm-data-plate-id', plateId);
      $divElem.append('<label><h4>' + data.plate_name + '</h4></label>');
      $divElem.append(' (' + data.plate_configuration[1] + ')');
      var $buttonElem = $("<button class='btn btn-danger btn-circle pull-right' onclick='removePlate(" + plateId + ");'>");
      $buttonElem.append("<span class='glyphicon glyphicon-remove'></span>");
      $divElem.append($buttonElem);
      $divElem.append('<div id="download-' + plateId + '" hidden><a class="btn btn-default"><span class="glyphicon glyphicon-download"></span> Download pool file</a></div>');
      var $formDiv = $("<div>").addClass('form-horizontal').appendTo($divElem);
      var plateType = $('#plate-type-select').val();
      if (plateType === '16S library prep') {
        // Amplicon library There is only 1 library prep function - add the parameters
        $.each(poolParams['amplicon'], function(idx, elem) {
          if (elem['prefix'] === 'epmotion-') {
            createSelectDOM($formDiv, plateId, paramOnChangeCallback, 'EpMotion robot', {% raw epmotions %}, elem['prefix'], 'Select EpMotion...');
          } else if (elem['prefix'] === 'dest-tube-') {
            createTextInputDOM($formDiv, plateId, paramOnChangeCallback, 'EpMotion destination tube', '1', elem['prefix']);
          } else {
            createNumberInputDOM($formDiv, plateId, paramOnChangeCallback, elem['desc'], elem['value'], elem['prefix'], elem['step'], elem['min']);
          }
        });
        enableComputePoolValues();
      } else {
        // Add a select for choosing the pooling function
        var poolFuncOpts = [{'func_id': 'equal', 'external_id': 'Equal volume'},
                            {'func_id': 'min', 'external_id': 'Minimum volume'},
                            {'func_id': 'floor', 'external_id': 'Floor volume'}];
        createSelectDOM($formDiv, plateId, poolFuncCallback, 'Pooling function', poolFuncOpts, 'pool-func-', 'Choose pooling function...', 'func_id');
        $('<div>').addClass('form-horizontal').attr('id', 'pool-params-div-' + plateId).appendTo($formDiv);
      }
      // Add a space for the pooling function results
      $('<div>').addClass('form-group').appendTo($formDiv).attr('id', 'pool-results-' + plateId);
      // Add the element to the plate list
      $('#plate-list').append($divElem);
      // Disable the button to add the plate to the list
      $('#addBtnPlate' + plateId).prop('disabled', true);
      // Hide the modal to add plates
      $('#addPlateModal').modal('hide');
      // Enable/disable the pooling button
      poolingChecks();
    })
      .fail(function (jqXHR, textStatus, errorThrown) {
        bootstrapAlert(jqXHR.responseText, 'danger');
        $('#addPlateModal').modal('hide');
      });

    return req;
  };

  $(document).ready(function(){
    // Attach a callback to the change event in the select plate type dropdown
    $('#plate-type-select').on('change', function() {
      var plateType = $(this).val();
      // Load the new table data
      var table = $('#searchPlateTable').DataTable(
        {'destroy': true,
         'ajax': {'url': '/plate_list', 'data': {'plate_type': plateType}},
         'columnDefs': [
           {'targets': -1, 'data': null,
            'render': function(data, type, row, meta){
              var plateId = data[0];
              return "<button id='addBtnPlate" + plateId + "' class='btn btn-success btn-circle-small'><span class='glyphicon glyphicon-plus'></span></button>";
            }},
           {'targets': -2,
            'render': function(data, type, row, meta){
              return data.join('<br/>');
            }},
          ]});

      // Add the function to the buttons that add the plate to the extraction process
      $('#searchPlateTable tbody').off('click', 'button');
      $('#searchPlateTable tbody').on('click', 'button', function() {
        addPlate(table.row( $(this).parents('tr') ).data()[0]);
      });

      // Show the plates being pooled div
      $('#plate-list-div').show();
    });
    poolingChecks();
    prepopulateGUI();
  });

</script>
{% end %}

{% block content %}
<label><h3>Pool library plates</h3></label>

<!-- Plate type select -->
<div class='form-group'>
  <label class='control-label'><h4>Plate type:</h4></label>
  <select id='plate-type-select' class='form-control'>
    <option selected disabled>Choose plate type...</option>
    <option value='shotgun library prep'>Shotgun library plates</option>
    <option value='16S library prep'>Amplicon library plates</option>
  </select>
</div>

<!-- Plates div -->
<div id='plate-list-div' hidden>
  <label><h4>Plates being pooled</h4></label>
  <button class='btn btn-success' data-toggle='modal' data-target='#addPlateModal'><span class='glyphicon glyphicon-plus'></span> Add plate</button>
  <div id='plate-list'>
  </div>
</div>

<!-- Pooling button -->
<div>
  <button id='compute-pool-btn' onclick="computePoolValues();" class='btn btn-info' disabled><span class='glyphicon glyphicon-play'></span> Compute pooling values</button>
  <button id='pool-btn' onclick="createPool();" class='btn btn-success' disabled><span class='glyphicon glyphicon-share'></span> Pool</button>
</div>

<!-- Modal to add a plate -->
<div class='modal fade' tabindex='-1' role='dialog' id='addPlateModal'>
  <div class='modal-dialog modal-lg'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
        <h3>Add plate to extract</h3>
      </div>
      <div class='modal-body'>
        <table id="searchPlateTable" class="display" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Plate id</th>
              <th>Plate name</th>
              <th>Studies</th>
              <th>Add</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>

{% end %}
