{% extends sitebase.html %}
{% block head %}
<script type='text/javascript'>

  var dtSelectedCounter = 0;

  var buttonsInfo = {
    'sample': [{'label': 'Extract plates', 'urlTarget': '/process/gdna_extraction'}],
    'gDNA': [{'label': 'Prepare amplicon libraries', 'urlTarget': '/process/library_prep_16S'},
             {'label': 'Compress gDNA plates', 'urlTarget': '/process/gdna_compression'},
             {'label': 'Normalize gDNA plates', 'urlTarget': '/process/normalize'}],
    'normalized gDNA': [{'label': 'Prepare shotgun libraries', 'urlTarget': '/process/library_prep_shotgun'}],
    '16S library prep': [{'label': 'Pool library plates', 'urlTarget': '/process/poollibraries'}],
    'shotgun library prep': [{'label': 'Pool library plates', 'urlTarget': '/process/poollibraries'}]}

  function buttonClicked(address) {
    var plateIds = []
    for (var inTag of $('.dt-selected').find('input')) {
      plateIds.push($(inTag).attr('data-lb-plate-id'));
    }
    var urlArgs = "?plate_id=" + plateIds[0];
    for (var pId of plateIds.slice(1)) {
      urlArgs = urlArgs + "&plate_id=" + pId;
    }
    window.location.href = address + urlArgs;
  };

  function generateBtnDOM (label, urlTarget) {
    $('<button>').addClass('btn btn-info').append(label).appendTo('#btn-div').on('click', function () {
      buttonClicked(urlTarget);
    });
  };

  $(document).ready(function(){
    var table = $('#plateListTable').DataTable(
      {'columnDefs': [{'targets': 0, 'orderable': false, 'width': '50px'}],
       'order': [[1, "desc"]],
       'language': {'zeroRecords': 'No plates found - choose a plate type'}});

    $('#plate-type-select').on('change', function() {
      var plateType = $(this).val();

      dtSelectedCounter = 0;
      $('#btn-div').empty();
      var datatable = $('#plateListTable').DataTable();
      datatable.clear();
      datatable.draw();

      $.get('/plate_list', {'plate_type': plateType}, function (data) {
        var newData = [];
        for (var row of data.data) {
          // Add the checkbox for the processing
          // and a button to view the last process
          var chBox = ('<a href="/plate/' + row[0] + '/process" class="btn btn-info btn-circle-small">' +
                        '<span class="glyphicon glyphicon-eye-open" data-toggle="tooltip" title="View plate process"></span>' +
                       '</a> ' +
                       '<input type="checkbox" class="table-checkbox" data-lb-plate-id="' + row[0] + '"></input>');
          newData.push([chBox, row[0], row[1], row[2].join('<br/>')]);
        }
        datatable.clear();
        datatable.rows.add(newData);
        datatable.draw();
        $('.table-checkbox').on('change', function() {
          if (this.checked) {
            $(this).parent('td').parent('tr').addClass('dt-selected');
            dtSelectedCounter += 1;
            if (dtSelectedCounter === 1) {
              // We need to enable the buttons
              $.each(buttonsInfo[plateType], function(idx, elem) {
                generateBtnDOM(elem['label'], elem['urlTarget']);
                $('#btn-div').append(' ');
              });
            }
          } else {
            $(this).parent('td').parent('tr').removeClass('dt-selected');
            dtSelectedCounter -= 1;
            if (dtSelectedCounter === 0) {
              // If the counter goes to 0, we need to remove all the buttons
              $('#btn-div').empty();
            }
          }
        });
      });
    });
  });
</script>
{% end %}
{%block content %}

<label><h3>Plates list</h3></label>

<!-- Plate type select -->
<div class='form-group'>
  <label class='control-label'><h4>Plate type:</h4></label>
  <select id='plate-type-select' class='form-control'>
    <option selected disabled>Choose plate type...</option>
    <option value='sample'>Sample plates</option>
    <option value='gDNA'>gDNA plates</option>
    <option value='normalized gDNA'>Normalized gDNA plates</option>
    <option value='16S library prep'>Amplicon library plates</option>
    <option value='shotgun library prep'>Shotgun library plates</option>
  </select>
</div>

<table id="plateListTable" class="display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th></th>
      <th>Plate id</th>
      <th>Plate name</th>
      <th>Studies</th>
    </tr>
  </thead>
</table>

<div id='btn-div'></div>

{% end %}
