{% extends sitebase.html %}
{% block head %}
<script type='text/javascript'>
  var dtSelectedCounter = 0;

  $(document).ready(function(){
    var table = $('#poolListTable').DataTable(
      {'columnDefs': [{'targets': 0, 'orderable': false, 'width': '30px'}],
       'order': [[1, "desc"]],
       'language': {'zeroRecords': 'No pools found'}});
    $.get('/pool_list', function(data) {
      var datatable = $('#poolListTable').DataTable();
      var newData = [];
      for (var row of data.data) {
        // Add the checkbox
        var chBox = '<input type="checkbox" class="table-checkbox" data-lb-pool-id="' + row[0] + '"></input>';
        var poolFileButton = '';
        if (row[2] === true){
            poolFileButton = '<a href="/process/poollibraries/' + row[3] + '/pool_file" class="btn btn-success">' +
            '<span class="glyphicon glyphicon-download"></span> ' +
            'Download Pool File</a>';
        }
        newData.push([chBox, row[0], row[1], poolFileButton]);
      }
      datatable.clear();
      datatable.rows.add(newData);
      datatable.draw();
      $('.table-checkbox').on('change', function() {
        if (this.checked) {
          $(this).parent('td').parent('tr').addClass('dt-selected');
          dtSelectedCounter += 1;
          if (dtSelectedCounter === 1) {
            $('<button>').addClass('btn btn-info').append('Prepare sequencing pool').appendTo('#btn-div').on('click', function () {
              var poolIds = [];
              for (var inTag of $('.dt-selected').find('input')) {
                poolIds.push($(inTag).attr('data-lb-pool-id'));
              }
              var urlArgs = "?pool_id=" + poolIds[0];
              for (var pId of poolIds.slice(1)) {
                urlArgs = urlArgs + "&pool_id=" + pId;
              }
              window.location.href = '/process/poolpools' + urlArgs;
            });
          };
        } else {
          $(this).parent('td').parent('tr').removeClass('dt-selected');
          dtSelectedCounter -= 1;
          if (dtSelectedCounter === 0) {
            // If the counter goes to 0, we need to remove all the buttons
            $('#btn-div').empty();
          }
        }
      });
    });
  });
</script>
{% end %}
{%block content %}

<label><h3>Pool list</h3></label>

<table id="poolListTable" class="display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th></th>
      <th>Pool id</th>
      <th>Pool name</th>
      <th>Pool file</th>
    </tr>
  </thead>
</table>

<div id='btn-div'></div>
{% end %}
