{% extends sitebase.html %}
{% block head %}
<script type='text/javascript'>

  $(document).ready(function(){
    var table = $('#sequenceRunListTable').DataTable(
      {'columnDefs': [{'targets': 0, 'orderable': false, 'width': '150px'}],
       'order': [[0, "desc"]],
       'language': {'zeroRecords': 'No sequencing runs found'}});
    $.get('/sequence_run_list', function(data) {
      var datatable = $('#sequenceRunListTable').DataTable();
      var newData = [];

      var process_id = 0;
      var run_name = 1;
      var experiment_name = 2;
      var assay_type = 3;
      var pi_name = 4;
      var sequencing_process_id = 5;
      for (var row of data.data) {
        var sampleSheet = "<a href='/process/sequencing/" + row[5] +
          "/sample_sheet' class='btn btn-success'>" +
          "<span class='glyphicon glyphicon-download'></span> " +
          "Download Sample Sheet</a>";

        // ToDo: #327
        var preparationSheets = '';
        if (row[assay_type] == 'Amplicon') {
          preparationSheets = "<a href='/process/sequencing/" + row[5] +
            "/preparation_sheets' class='btn btn-success'>" +
            "<span class='glyphicon glyphicon-download'></span> " +
            "Download Preparation Sheets</a>";
        }
        newData.push([row[process_id], row[run_name], row[experiment_name],
            row[assay_type], row[pi_name], sampleSheet, preparationSheets]);
      }
      datatable.clear();
      datatable.rows.add(newData);
      datatable.draw();
    });
  });
</script>
{% end %}
{%block content %}

<label><h3>Sequence run list</h3></label>

<table id="sequenceRunListTable" class="display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Sequence run id</th>
      <th>Run name</th>
      <th>Experiment</th>
      <th>Assay</th>
      <th>PI</th>
      <th>Sample sheet</th>
      <th>Preparation sheets</th>
    </tr>
  </thead>
</table>

<div id='btn-div'></div>
{% end %}
