{% extends sitebase.html %}
{% block head %}
<script type='text/javascript'>
  var dtSelectedCounter = 0;

  $(document).ready(function(){
    var table = $('#studyListTable').DataTable(
      {'columnDefs': [{'targets': 0, 'orderable': false, 'width': '30px'}],
       'order': [[1, "desc"]],
       'language': {'zeroRecords': 'No studies found'}});
    $.get('/study_list', function(data) {
      var datatable = $('#studyListTable').DataTable();
      var newData = [];
      for (var row of data.data) {
        // Add the checkbox
        var chBox = '<input type="checkbox" class="table-checkbox" data-lb-study-id="' + row[0] + '"></input>';
        newData.push([chBox, row[0], row[1], row[2], row[4]]);
      }
      datatable.clear();
      datatable.rows.add(newData);
      datatable.draw();
      $('.table-checkbox').on('change', function() {
        if (this.checked) {
          $(this).parent('td').parent('tr').addClass('dt-selected');
          dtSelectedCounter += 1;
          if (dtSelectedCounter === 1) {
            $('<button>').addClass('btn btn-info').append('View study').appendTo('#btn-div').on('click', function () {
              var studyIds = []
              for (var inTag of $('.dt-selected').find('input')) {
                studyIds.push($(inTag).attr('data-lb-study-id'));
              }
              var urlArgs = "?study_id=" + studyIds[0];
              for (var pId of studyIds.slice(1)) {
                urlArgs = urlArgs + "&study_id=" + pId;
              }
              window.location.href = '/process/study' + urlArgs;
            });
          };
        } else {
          $(this).parent('td').parent('tr').removeClass('dt-selected');
          dtSelectedCounter -= 1;
          if (dtSelectedCounter === 0) {
            // If the counter goes to 0, we need to remove all the buttons
            $('#btn-div').empty();
          }
        }
      });
    });
  });
</script>
{% end %}
{%block content %}

<label><h3>Study list</h3></label>

<table id="studyListTable" class="display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th></th>
      <th>Study id</th>
      <th width="50%">Study title</th>
      <th>Owner</th>
      <th>Total samples</th>
    </tr>
  </thead>
</table>

<div id='btn-div'></div>
{% end %}
