body { padding-top: 70px; }

.dt-selected {
    background: #D8D8D8;
}

/* Well context menu format */
#wellContextMenu {
background: #e1efc7;
border: 1px solid gray;
padding: 2px;
display: inline-block;
min-width: 100px;
-moz-box-shadow: 2px 2px 2px silver;
-webkit-box-shadow: 2px 2px 2px silver;
z-index: 99999;
}
#wellContextMenu li {
padding: 4px 4px 4px 14px;
list-style: none;
cursor: pointer;
}
#wellContextMenu li:hover {
background-color: white;
}

/* Wells class */
.well-commented {
    border: 1px solid green;
}

/*
 *
 * Allows to create circle buttons
 * Code from: https://bootsnipp.com/snippets/featured/circle-button
 */
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle-small {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 3px 0;
  font-size: 10px;
  line-height: 1.2;
  border-radius: 10px;
}

/**
 *
 * This code allows to sping the glyphicons.
 * Code from: https://bootsnipp.com/snippets/featured/glyphicon-animate-rotation-and-flip
 **/
.gly-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
