body { padding-top: 70px; }

.dt-selected {
    background: #D8D8D8;
}

/* Well context menu format */
#wellContextMenu {
background: #e1efc7;
border: 1px solid gray;
padding: 2px;
display: inline-block;
min-width: 100px;
-moz-box-shadow: 2px 2px 2px silver;
-webkit-box-shadow: 2px 2px 2px silver;
z-index: 99999;
}
#wellContextMenu li {
padding: 4px 4px 4px 14px;
list-style: none;
cursor: pointer;
}
#wellContextMenu li:hover {
background-color: white;
}

/* Wells class */

/* Commented cell (green ringed cell) */
.well-commented {
    color: green;
}

/* Value in cell duplicated on current plate (yellow ringed cell) */
.well-duplicated {
    border: 2px solid purple;
}

/* Value in cell has already been plated on another plate */
.well-prev-plated {
    background: repeating-linear-gradient(
        45deg,
        #d2dbf2,
        #d2dbf2 10px,
        #e3e7ef 10px,
        #e3e7ef 20px
        );
}

/* Value in cell is not a member of the attached studies */
.well-unknown {
    background: repeating-linear-gradient(
        45deg,
        #f2a4a4,
        #f2a4a4 10px,
        #edc9c9 10px,
        #edc9c9 20px
        );
}

/* Value in cell matches one or more members of the attached studies */
.well-indeterminate {
    background: repeating-linear-gradient(
        45deg,
        #f2f2a4,
        #f2f2a4 10px,
        #FFE4B5 10px,
        #FFE4B5 20px
        );
}

.comment-box {
    border-style: solid;
    border-width: 1px;
    width: 100%;
    height: 200px;
    overflow-y: auto;
}

/* contains all the entries of a legend */
.legend-container {
    padding-bottom: 75px;
}

/* contains the elements of a legend entry */
.legend-entry {
    padding-left: 10px;
    padding-bottom: 2.5px;
    float: left;
    width: 50%;
}

/* style for a box that can be filled with color for the legend */
.legend-patch {
    width: 100px;
    height: 20px;
    float: left;
}

/* for putting text next to legend-patch */
.legend-text {
    /* left margin is the patch width + 10px included to accound for legend-entry */
    margin-left: 110px;
    /* 10 additional pixels to move the start of the text further right of the box */
    padding-left: 10px;
}

/*
 *
 * Allows to create circle buttons
 * Code from: https://bootsnipp.com/snippets/featured/circle-button
 */
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle-small {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 3px 0;
  font-size: 10px;
  line-height: 1.2;
  border-radius: 10px;
}

/**
 *
 * This code allows to sping the glyphicons.
 * Code from: https://bootsnipp.com/snippets/featured/glyphicon-animate-rotation-and-flip
 **/
.gly-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

/* Popup style */
/* Code from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_popup */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.popup .popuptext {
    visibility: hidden;
    color: black;
    width: 100%;
    background-color: #bbb;
    text-align: left;
    border-radius: 10px;
    padding: 5px 5px;
    position: relative;
    bottom: 10%;
    right: 0%;
}

.popup .show {
    visibility: visible;
}

/* Make key tags look like buttons, from: */
/* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/kbd */
kbd.key {
  border-radius: 3px;
  padding: 1px 2px 0;
  border: 1px solid black;
}

.spreadsheet-container {
    width: 100%;
    margin: auto;
    padding: 10px;
    padding-bottom: 0px;
}
.spreadsheet-frozen-column {
    /* enough space for one character */
    width: 22px;
    float: left;
    /* disable "hovering" events and other mouse interaction events */
    pointer-events: none;
}

/* make the header text be fully visible */
.full-height-header {
  height: 100% !important;
}

/*
 *
 * Zebrafiy the rows of all the datatables in the project
 *
 */
table.dataTable tr.odd {
  background-color: #ededed;
}

table.dataTable tr.even {
  background-color: white;
}
