<!-- Modal to add a plate -->
<div class='modal fade' tabindex='-1' role='dialog' id='addPlateModal'>
  <div class='modal-dialog modal-lg'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
        <h3>Select plate(s) to add</h3>
      </div>
      <div class='modal-body'>
        <table id="searchPlateTable" class="display" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Plate id</th>
              <th>Plate name</th>
              <th>Creation timestamp</th>
              <th>Studies</th>
              <th>Add</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>