{% extends sitebase.html %}

{% block head %}
<link rel="stylesheet" href="/static/vendor/css/jquery-ui.min.css" type="text/css"/>

<script src="/static/vendor/js/jquery-ui.min.js" type="text/javascript"></script>

<script src="/static/js/addPlateModal.js" type="text/javascript"></script>

<script type='text/javascript'>
    var gPlateInfoByPlateId = {};

    function getPlateInfoRequest(plateId, postCheckFunc){
        var request = $.get('/plate/' + plateId + '/', function (data) {
            gPlateInfoByPlateId[plateId] = data;
        })
          .fail(function (jqXHR, textStatus, errorThrown) {
            bootstrapAlert(jqXHR.responseText, 'danger');
            $('#addPlateModal').modal('hide');
          });

        if (typeof(postCheckFunc)!=='undefined'){
            postCheckFunc()
        }

        return request;
    }

    function addPlateFromExistingInfo(plateId) {
        // NB: The global variable gPlateInfoByPlateId
        // is populated by calls to the getPlateInfoRequest function (and/or its
        // parent, requestAndAddPlates).  Handle with care!
        var data = gPlateInfoByPlateId[plateId];
        var $aElem = $("<a>");
        $aElem.addClass('list-group-item');
        $aElem.attr('id', 'plate-' + plateId);
        $aElem.attr('pm-data-plate-id', plateId);
        $aElem.append('<label><h4>' + data.plate_name + '</h4></label>');
        $aElem.append(' (' + data.plate_configuration[1] + ')');
        var $buttonElem = $("<button class='btn btn-danger btn-circle pull-right' onclick='removePlate(" + plateId + ");'>");
        $buttonElem.append("<span class='glyphicon glyphicon-remove'></span>");
        $aElem.append($buttonElem);
        $('#plate-list').append($aElem);

        // Disable the button to add the plate to the list
        $('#addBtnPlate' + plateId).prop('disabled', true);

        // Hide the modal to add plates
        $('#addPlateModal').modal('hide');

        // Enable/disable the compression button
        compressionChecks();
      }

    function toggleAddPlate() {
        // Check how many plates have been added to the plate list.  If there
        // are greater than or equal to 4 plates, then disable the "Add Plate"
        // button because no more than 4 plates can be compressed together.
        // Conversely, if the list currently includes FEWER than 4 plates,
        // enable the "Add Plate" button so the user can, if they desire,
        // add more.
        $('#add-plate-btn').prop('disabled', $('#plate-list').children().length >= 4);
    }

    function requestAndAddPlates(relevantPlateIds, postRequestFunc, postAddFunc){
        // do asynchronous get requests to get info for all the relevant plates
        var requests = [];
        $.each(relevantPlateIds, function(idx, plateId) {
          requests.push(getPlateInfoRequest(plateId));
        });

        // below is basically, "do this when an unknown number of requests have all finished".
        // "$.when takes any number of parameters and resolves when all of these have resolved";
        // see https://stackoverflow.com/a/14777262 for details on construct
        $.when.apply($, requests).then(function() {
            // once all the plate info has been collected,
            // add the plate elements *in the order in which we received the
            // plate ids*, NOT in whatever random order they came back from the
            // asynchronous gets in.
            for (var index = 0; index < relevantPlateIds.length; index++){
                addPlateFromExistingInfo(relevantPlateIds[index])
            }

            if (typeof(postAddFunc)!=='undefined'){
                postAddFunc()
            }
        });
    }

  // This function (only) is relevant when someone comes back to this page (via
  // the eyeball icon for a particular compressed gDNA plate chosen on the
  // plate list page) to see the details on an EXISTING plate.
  function prepopulateGUI() {
    var processId = {% raw process_id if process_id else 'null' %};
    var plateName = '{{plate_name}}';
    var robot = '{{robot}}';
    var processPlateIds = {% raw gdna_plates %};
    var querystringPlateIds = {% raw plate_ids %};

    var relevantPlateIds, postDisplayFunction;
    if (processId !== null) {
        relevantPlateIds = processPlateIds;
        postDisplayFunction = function(){
            // if we are loading historical info about an existing compression
            // done in the past, the user isn't allowed to change ANYTHING
            disableAll();

            // NB: closure to capture plateName, robot
            $('#plate-ext-id').val(plateName);
            $('#robot-select').val(robot);

        }
    } else {
        relevantPlateIds = querystringPlateIds;
        // postDisplayFunction remains undefined
    }

    requestAndAddPlates(relevantPlateIds, null, postDisplayFunction);
  }

  function compressPlates() {
    // Get the plate ids
    var plateIds = [];
    for (var item of $('#plate-list').children()) {
      plateIds.push(item.getAttribute('pm-data-plate-id'));
    }
    // Get the plate ext id
    var plate_ext_id = $('#plate-ext-id').val();
    disableAll();

    $.post('/process/gdna_compression', {'plates': JSON.stringify(plateIds), 'plate_ext_id': plate_ext_id, 'robot': $('#robot-select').val()}, function(data) {
      bootstrapAlert('Information saved', 'success');
    })
      .fail(function (jqXHR, textStatus, errorThrown) {
        bootstrapAlert(jqXHR.responseText, 'danger');
      });
  }

  function compressionChecks() {
    $('#compress-btn').prop('disabled', $('#plate-list').children().length === 0 ||
                                        $('#plate-ext-id-div').hasClass('has-error') ||
                                        $('#robot-select').val() === null);
  }

  // This function is used when the user is adding plates manually from
  // the searchPlateTable modal dialog; when plates are being prepopulated
  // from existing info, requestAndAddPlates is called directly from
  // prepopulateGUI (usually with more than one input plate id.)
  function addPlate(plateId) {
    requestAndAddPlates([plateId], null, toggleAddPlate)
  }

  function removePlate(plateId) {
    // Remove the plate from the list
    $('#plate-' + plateId).remove();
    // Re-enable the button to add the plate to the list
    $('#addBtnPlate' + plateId).prop('disabled', false);
    // Enable/disable the compression button
    compressionChecks();
    toggleAddPlate();
  }

  $(document).ready(function(){
    setUpAddPlateModal(['gDNA'], false);

  	// Empty input textbox on loading
  	$('#plate-ext-id').val('');

    // Add callback for checking uniqueness of plate name
    $('#plate-ext-id').keyup(function(e) {
      onKeyUpPlateName(e, 'plate-ext-id', compressionChecks);
    });

    $('#robot-select').on('change', compressionChecks);

    prepopulateGUI();
  });
</script>
{% end %}

{% block content %}

<label><h3>gDNA plate compression</h3></label>

<!-- Plates div -->
<div>
  <label><h4>Plates being compressed</h4></label>
  <button id='add-plate-btn' class='btn btn-success' data-toggle='modal' data-target='#addPlateModal'><span class='glyphicon glyphicon-plus'></span> Add plate</button>
  <div id='plate-list'>
  </div>
</div>

<!-- Compressed plate name -->
<div class='form-group'>
  <label class='control-label'><h4>Compressed plate name:</h4></label>
    <div id='plate-ext-id-div' class='form-group has-error has-feedback'>
      <input type='text' id='plate-ext-id' class='form-control'>
	  <span class='glyphicon glyphicon-remove form-control-feedback'></span>
	</div>
</div>

<!-- Robot drop down -->
<div class='form-group'>
  <label class='control-label'><h4>Robot:</h4></label>
    <div class='form-group'>
      <select class='form-control' id='robot-select'>
        <option selected disabled>Choose a robot...</option>
        {% for e in robots %}
          <option value="{{e['equipment_id']}}">{{e['external_id']}}</option>
        {% end %}
      </select>
	</div>
</div>

<div>
  <button id='compress-btn' onclick="compressPlates();" class='btn btn-success' disabled><span class='glyphicon glyphicon-share'></span> Compress</button>
</div>

{% include add_plate_modal_dialog.html %}

{% end %}
