{% extends sitebase.html %}

{% block head %}
<link rel="stylesheet" href="/static/vendor/css/jquery-ui.min.css" type="text/css"/>

<script src="/static/vendor/js/jquery-ui.min.js" type="text/javascript"></script>

<script src="/static/js/reagentModal.js"></script>
<script src="/static/js/addPlateModal.js" type="text/javascript"></script>

<script type='text/javascript'>
  function prepopulateGUI() {
    var processId = {% raw process_id if process_id else 'null' %};
    var plateIds = {% raw plate_ids %};
    if (processId !== null) {
      bootstrapAlert('Loading data...', 'info');
      $('#kapa_hyperplus_kit-input').val('{{kapa}}');
      $('#stubs-input').val('{{stub}}');
      $('#volume-input').val('{{volume}}');
      // Add the plate
      var requests = [addPlate({{norm_plate}})];
      $.when.apply($, requests).then(function () {
          setTimeout(function () {
            var plateId = {{norm_plate}};
            $('#sel-i5-' + plateId).val({{i5plate}});
            $('#sel-i7-' + plateId).val({{i7plate}});
            disableAll();
            $('#alert-message').alert('close');
          }, 500);
        }
      );
    } else if (plateIds.length > 0) {
      bootstrapAlert('Loading data...', 'info');
      var requests = [];
      for (var pId of plateIds) {
        requests.push(addPlate(pId));
      }
      $.when.apply($, requests).then(function(){
        setTimeout(function(){
          $('#alert-message').alert('close');
        }, 500);
      });
    }
  };

  function prepareLibraries() {
    disableAll();
    bootstrapAlert('Saving information...', 'info');
    var page = $("html, body").animate({scrollTop: 0}, 500);
    // Get the plate ids
    var platesInfo = [];
    var plateId;
    for (var item of $('#plate-list').children()) {
      plateId = item.getAttribute('pm-data-plate-id');
      platesInfo.push([plateId, $('#plate-name-' + plateId).val(),
                       $('#sel-i5-' + plateId).val(), $('#sel-i7-' + plateId).val()])
    }

    var postData = {
        'volume': $('#volume-input').val(),
        'plates_info': JSON.stringify(platesInfo),
        'kit_type' : $('#prep-kit-select').val(),
        'kit_lot_id': $('#kit-lot-id').val(),
        'stub_lot': $('#stubs-input').val()};
    $.post('/process/library_prep_shotgun', postData, function(data) {
      bootstrapAlert('Information saved', 'success');
      $.each(data.processes, function(idx, elem) {
        var plateId = elem[0];
        var processId = elem[1];
        $('#download-' + plateId).find('a').attr('href', '/process/library_prep_shotgun/' + processId + '/echo_pick_list');
        $('#download-' + plateId).prop('hidden', false);
      });
    })
      .fail(function (jqXHR, textStatus, errorThrown) {
        bootstrapAlert(jqXHR.responseText, 'danger');
      });
  };

  function libraryPrepChecks() {
    // Avoid empty volume input
    var min_vol = (isNaN(target = parseInt($('#volume-input').val(), 10)) ? 0 : target);
    $('#volume-input').val(min_vol);

    var plates = $('#plate-list').children();
    if (plates.length === 0) {
      $('#library-prep-btn').prop('disabled', true);
    } else {
      var disabled = ($('#kapa_hyperplus_kit-input').val() === '' ||
                      $('#stubs-input').val() === '' ||
                      $('#volume-input').val() === '0');
      $.each(plates, function(idx, elem) {
        var plateId = $(elem).attr('pm-data-plate-id');
        disabled = (disabled ||
                    $('#sel-i5-' + plateId).val() === $('#sel-i7-' + plateId).val() ||
                    $('#sel-i5-' + plateId).val() === null ||
                    $('#sel-i5-' + plateId).val() === null ||
                    $('#sel-i7-' + plateId).val() === null);
      });
      $('#library-prep-btn').prop('disabled', disabled);
    }
  };

  function addPlate(plateId) {
    var req = $.get('/plate/' + plateId + '/', function (data) {
      var primerPlates = {% raw primer_plates %};
      var $divElem = $("<div>");
      $divElem.addClass('list-group-item');
      $divElem.attr('id', 'plate-' + plateId);
      $divElem.attr('pm-data-plate-id', plateId);
      $divElem.append('<label><h4>' + data.plate_name + '</h4></label>');
      $divElem.append(' (' + data.plate_configuration[1] + ')');
      // Add the remove plate button
      var $buttonElem = $("<button class='btn btn-danger btn-circle pull-right' onclick='removePlate(" + plateId + ");'>");
      $buttonElem.append("<span class='glyphicon glyphicon-remove'></span>");
      $divElem.append($buttonElem);
      // Add an area to put the download button
      $divElem.append('<div id="download-' + plateId + '" hidden><a class="btn btn-default"><span class="glyphicon glyphicon-download"></span> Download echo pick list</a></div>');

      var $formDiv = $("<div>").addClass('form-horizontal').appendTo($divElem);
      // Plate name
      createPlateNameInputDOM($formDiv, plateId, libraryPrepChecks, 'Library plate name', data.plate_name + ' (Shotgun)');
      // i5_plate
      createSelectDOM($formDiv, plateId, libraryPrepChecks, 'Select i5 primer plate', primerPlates, 'sel-i5-', 'Choose i5 primer plate...', 'plate_id');
      // i7_plate
      createSelectDOM($formDiv, plateId, libraryPrepChecks, 'Select i7 primer plate', primerPlates, 'sel-i7-', 'Choose i7 primer plate...', 'plate_id');

      // Add the element to the plate list
      $('#plate-list').append($divElem);

      // Enable/disable the library prep button
      libraryPrepChecks();
    })
      .fail(function (jqXHR, textStatus, errorThrown) {
        bootstrapAlert(jqXHR.responseText, 'danger');
      });

    return req;
  };

  function removePlate(plateId) {
    // Remove the plate from the list
    $('#plate-' + plateId).remove();
    // Re-enable the button to add the plate to the list
    $('#addBtnPlate' + plateId).prop('disabled', false);
    libraryPrepChecks();
  };

  $(document).ready(function() {
    setUpAddPlateModal(['normalized gDNA'], false);

    $('#kapa_hyperplus_kit-input').on('change', libraryPrepChecks);
    $('#stubs-input').on('change', libraryPrepChecks);
    $('#volume-input').on('change', libraryPrepChecks);

    var vueElem = new Vue({el: '#vue-element'});

    prepopulateGUI();
  });
</script>

{% end %}

{% block content %}
<label>
  <h3>Shotgun library prep</h3>
</label>

<!-- Plates div -->
<div>
  <label><h4>Plates for library preparation</h4></label>
  <button id='add-gDNA-plate' class='btn btn-success' data-toggle='modal' data-target='#addPlateModal'><span class='glyphicon glyphicon-plus'></span> Add plate</button>
  <div id='plate-list'></div>
</div>

<!-- KAPA HyperPlus kit -->
<div class='form-group'>
  <label class='control-label'><h4>KAPA HyperPlus kit:</h4></label>
  <input type='text' id='kapa_hyperplus_kit-input' class='form-control' />
</div>

<!-- stub lot -->
<div class='form-group'>
  <label class='control-label'><h4>Stub lot:</h4></label>
  <input type='text' id='stubs-input' class='form-control' />
</div>

<!-- Initial Well Volume -->
<div class='form-group'>
  <label class='control-label'><h4>Initial Well Volume(&micro;l):</h4></label>
  <input type='number' id='volume-input' class='form-control' min="1" value="50"/>
</div>

<div>
  <button id='library-prep-btn' onclick="prepareLibraries();" class='btn btn-success' disabled><span class='glyphicon glyphicon-share'></span> Prepare libraries</button>
</div>

<div id='vue-element'>
  <reagent-modal id-prefix="kapa" reagent-type="KAPA HyperPlus kit" input-target="kapa_hyperplus_kit-input" v-bind:checks-callback="libraryPrepChecks"></reagent-modal>
  <reagent-modal id-prefix="stubs" reagent-type="shotgun stubs" input-target="stubs-input" v-bind:checks-callback="libraryPrepChecks"></reagent-modal>
</div>

{% include add_plate_modal_dialog.html %}

{% end %}
