{% extends sitebase.html %}

{% block head %}
<link rel="stylesheet" href="/static/vendor/css/jquery-ui.min.css" type="text/css"/>

<script src="/static/vendor/js/jquery-ui.min.js" type="text/javascript"></script>

<script src="/static/js/reagentModal.js"></script>
<script src="/static/js/addPlateModal.js" type="text/javascript"></script>

<script type='text/javascript'>
  function prepopulateGUI() {
    var processId = {% raw process_id if process_id else 'null' %};
    var gdnaPlate = '{{gdna_plate}}';
    var epmotion = '{{epmotion}}';
    var epmotionTM300 = '{{epmotion_tm300}}';
    var epmotionTM50 = '{{epmotion_tm50}}';
    var masterMix = '{{master_mix}}';
    var waterLot = '{{water_lot}}';
    var primerPlate = '{{primer_plate}}';
    var prepDate = '{{preparationDate}}';
    var volume = '{{volume}}';

    if (processId !== null) {
      // We need to prepopulate the interface
      // Start by adding all plates:
      var requests = [addPlate(gdnaPlate)];
      // We need to wait until all requests are done, so the interface will
      // be ready to be modified
      $.when.apply($, requests).then(function () {
        // Need to add a timeout so the interface is ready to set the values
        setTimeout(function() {
          $('#sel-primer-' + gdnaPlate).val(primerPlate);
          $('#epmotion-robot-' + gdnaPlate).val(epmotion);
          $('#epmotion-tm300-8-tool-' + gdnaPlate).val(epmotionTM300);
          $('#epmotion-tm50-8-tool-' + gdnaPlate).val(epmotionTM50);
          $('#mastermix-input-' + gdnaPlate).val(masterMix);
          $('#waterlot-input-' + gdnaPlate).val(waterLot);
          $('#volume-input').val(volume);
          $('#preparation-date').datepicker('setDate', new Date(prepDate));
          disableAll();
        }, 500);
      });
    } else {
      var plateIds = {% raw plate_ids %};
      for (var pId of plateIds) {
        addPlate(pId);
      }
    }

  };

  function prepareLibraries() {
    // Get the plates information
    var platesInfo = [];
    var plateId;
    for (var item of $('#plate-list').children()) {
      plateId = item.getAttribute('pm-data-plate-id');
      platesInfo.push([plateId, $('#plate-name-' + plateId).val(),
                       $('#sel-primer-' + plateId).val(),
                       $('#epmotion-robot-' + plateId).val(),
                       $('#epmotion-tm300-8-tool-' + plateId).val(),
                       $('#epmotion-tm50-8-tool-' + plateId).val(),
                       $('#mastermix-input-' + plateId).val(),
                       $('#waterlot-input-' + plateId).val()])
    }

    // Get the PCR total volume
    var volume = $('#volume-input').val()
    // Get the preparation date
    var preparationDate = $('#preparation-date').val();
    var postData = {'preparation_date': preparationDate,
                    'volume': volume,
                    'plates_info': JSON.stringify(platesInfo)}
    $.post('/process/library_prep_16S', postData, function(data) {
      bootstrapAlert('Information saved', 'success');
      disableAll();
    })
      .fail(function (jqXHR, textStatus, errorThrown) {
        bootstrapAlert(jqXHR.responseText, 'danger');
      });
  };

  function libraryPrepChecks() {
    var plates = $('#plate-list').children();
    if (plates.length === 0) {
      $('#library-prep-btn').prop('disabled', true);
    } else {
      var disabled = $('#volume-input').val() === '0' || $('#preparation-date').val() === '';
      $.each(plates, function(idx, elem) {
        var plateId = $(elem).attr('pm-data-plate-id');
        disabled = (disabled || $('#div-plate-name-' + plateId).hasClass('has-error') ||
                    $('#sel-primer-' + plateId).val() === null ||
                    $('#epmotion-robot-' + plateId).val() === null ||
                    $('#epmotion-tm300-8-tool-' + plateId).val() === null ||
                    $('#epmotion-tm50-8-tool-' + plateId).val() === null ||
                    $('#mastermix-input-' + plateId).val() === '' ||
                    $('#waterlot-input-' + plateId).val() === '');
      });

      $('#library-prep-btn').prop('disabled', disabled);
    }
  };

  function addPlate(plateId) {
    var req = $.get('/plate/' + plateId + '/', function (data) {
      var $divElem = $("<div>");
      $divElem.addClass('list-group-item');
      $divElem.attr('id', 'plate-' + plateId);
      $divElem.attr('pm-data-plate-id', plateId);
      $divElem.append('<label><h4>' + data.plate_name + '</h4></label>');
      $divElem.append(' (' + data.plate_configuration[1] + ')');
      var $buttonElem = $("<button class='btn btn-danger btn-circle pull-right' onclick='removePlate(" + plateId + ");'>");
      $buttonElem.append("<span class='glyphicon glyphicon-remove'></span>")
      $divElem.append($buttonElem);
      // Div for the per plate form
      var $formDiv = $("<div>").addClass('form-horizontal').appendTo($divElem);
      // Add the library prep plate name
      createPlateNameInputDOM($formDiv, plateId, libraryPrepChecks, 'Library plate name', data.plate_name + ' (Amplicon Lib)');
      // Add the primer plate
      createSelectDOM($formDiv, plateId, libraryPrepChecks, 'Primer plate', {% raw primer_plates %}, 'sel-primer-', 'Select Primer Plate...', 'plate_id');
      // Add the EpMotion robot
      createSelectDOM($formDiv, plateId, libraryPrepChecks, 'EpMotion robot', {% raw robots %}, 'epmotion-robot-', 'Select EpMotion...');
      // Add the EpMotion tm300 8 tool
      createSelectDOM($formDiv, plateId, libraryPrepChecks, 'EpMotion TM300 8 tool', {% raw tools_tm300_8 %}, 'epmotion-tm300-8-tool-', 'Select EpMotion TM300 8 tool...');
      // Add the EpMotion tm50 8 tool
      createSelectDOM($formDiv, plateId, libraryPrepChecks, 'EpMotion TM50 8 tool', {% raw tools_tm50_8 %}, 'epmotion-tm50-8-tool-', 'Select EpMotion TM50 8 tool...');
      // Add the Master Mix lot
      createReagentDOM($formDiv, plateId, libraryPrepChecks, 'Master mix', 'mastermix-input-', '#vue-element', 'master mix');
      // Add the Master Mix lot
      createReagentDOM($formDiv, plateId, libraryPrepChecks, 'Water lot', 'waterlot-input-', '#vue-element', 'water');
      // Add the form to the plate list
      $('#plate-list').append($divElem);
      // Enable/disable the library prep button
      libraryPrepChecks();
    })
      .fail(function (jqXHR, textStatus, errorThrown) {
        bootstrapAlert(jqXHR.responseText, 'danger');
      });
    return req;
  };

  function removePlate(plateId) {
    // Remove the plate from the list
    $('#plate-' + plateId).remove();
    // Re-enable the button to add the plate to the list
    $('#addBtnPlate' + plateId).prop('disabled', false);
    // Enable/disable the library prep button
    libraryPrepChecks();
  };

  $(document).ready(function() {
    var plateIds = {% raw plate_ids %};

    setUpAddPlateModal(['gDNA'], false);

    $('#volume-input').on('change', libraryPrepChecks);
    $('#preparation-date').datepicker();
    $('#preparation-date').datepicker('setDate', new Date());
    $('#preparation-date').on('change', libraryPrepChecks);

    prepopulateGUI();

    var vueElem = new Vue({el: '#vue-element'});
  });
</script>

{% end %}

{% block content %}
<label><h3>Amplicon library prep</h3></label>

<!-- Plates div -->
<div>
  <label><h4>Plates for library preparation</h4></label>
  <button class='btn btn-success' data-toggle='modal' data-target='#addPlateModal'><span class='glyphicon glyphicon-plus'></span> Add plate</button>
  <div id='plate-list'></div>
</div>

<!-- Volume -->
<div class='form-group'>
  <label class='control-label'><h4>PCR Total Volume (&micro;l):</h4></label>
  <input type='number' id='volume-input' class='form-control' min="0" value="75"/>
</div>

<div class='form-group'>
  <label class='control-label'><h4>Preparation date:</h4></label>
  <input type='text' id='preparation-date' class='form-control'/>
</div>

<div>
  <button id='library-prep-btn' onclick="prepareLibraries();" class='btn btn-success' disabled><span class='glyphicon glyphicon-share'></span> Prepare libraries</button>
</div>

{% include add_plate_modal_dialog.html %}

<div id='vue-element'></div>

{% end %}
