{% extends sitebase.html %}
{% block head %}

<link rel="stylesheet" href="/static/vendor/css/slick-default-theme.css" type="text/css"/>
<link rel="stylesheet" href="/static/vendor/css/slick.grid.css" type="text/css"/>
<link rel="stylesheet" href="/static/vendor/css/jquery-ui.min.css" type="text/css"/>


<script src="/static/vendor/js/jquery.event.drag-2.3.0.js" type="text/javascript"></script>
<script src="/static/vendor/js/slick.core.js" type="text/javascript"></script>
<script src="/static/vendor/js/slick.grid.js" type="text/javascript"></script>
<script src="/static/vendor/js/slick.editors.js" type="text/javascript"></script>

<!-- plugins for copy/paste -->
<script src="/static/vendor/js/slickgrid.plugins/slick.cellexternalcopymanager.js" type="text/javascript"></script>
<script src="/static/vendor/js/slickgrid.plugins/slick.cellrangedecorator.js" type="text/javascript"></script>
<script src="/static/vendor/js/slickgrid.plugins/slick.cellrangeselector.js" type="text/javascript"></script>
<script src="/static/vendor/js/slickgrid.plugins/slick.cellselectionmodel.js" type="text/javascript"></script>

<script src="/static/vendor/js/jquery-ui.min.js" type="text/javascript"></script>

<script src="/static/js/plate.js"></script>
<script src="/static/js/plateViewer.js"></script>
<script type='text/javascript'>

  $(document).ready(function(){
    var plateId = {% if plate_id %} {{plate_id}} {% else %} undefined {% end %};
    var processId = {% if process_id %} {{process_id}} {% else %} undefined {% end %};
    // Set the focus on the text input when the modal to change the plate name
    // is shown. Also reset any other change that we may have done to the
    // modal
    $('#updatePlateName').on('shown.bs.modal', function () {
      $('#newNameInput').focus().prop('disabled', false).val('');
      $('#updateNameBtn').prop('disabled', true).find('span').removeClass('glyphicon glyphicon-refresh gly-spin');
      $('#newNameDiv').removeClass('has-success').addClass('has-error').find('span').removeClass('glyphicon-ok').addClass('glyphicon-remove');

      var pId = $('#plateName').prop('pm-data-plate-id');
      if (pId !== undefined) {
        // The user is modifying an existing plate - do not force the user
        // to introduce a plate name to close the modal
        $('#updatePlateNameCloseBtn').prop('hidden', false);
        $('#updatePlateName').data('bs.modal').options.keyboard = true;
        $('#updatePlateName').data('bs.modal').options.backdrop = true;
        // Remove the cancel button from the modal
        $('#cancelUpdateNameBtn').remove();
      }
    });

    // Set the validation on the plate name
    $('#newNameInput').keyup(function(e) {
      onKeyUpPlateName(e, 'newNameInput', function() {
        $('#updateNameBtn').prop('disabled', $('#newNameDiv').hasClass('has-error'));
      }, change_plate_name);
    });

    // Set the study search table
    var table = $('#searchStudyTable').DataTable(
      {'ajax': '/study_list',
       'columnDefs': [{'targets': -1,
                       'data': null,
                       'render': function(data, type, row, meta) {
                          var studyId = data[0];
                          return "<button id='addBtnStudy" + studyId + "' class='btn btn-success btn-circle-small'><span class='glyphicon glyphicon-plus'></span></button>";
                        }}]
      });
    // Add the function to the buttons that add the study to the plate
    $('#searchStudyTable tbody').on('click', 'button', function() {
      add_study(table.row( $(this).parents('tr') ).data()[0]);
    });

    if (plateId === undefined) {
      // The user is creating a new plate. Force the user to introduce a new
      // plate name
      $('#updatePlateName').modal('show');
    } else {
      // Set the plateId in a prop so we can recover it whenever we want
      $('#plateName').prop('pm-data-plate-id', plateId);
      // Disable the plate config select
      $('#plate-conf-select').prop('disabled', true);
      // Disable the plate create button
      $('#createPlateBtn').prop('disabled', true);
      // Update the plate name in the interface
      $.get('/plate/' + plateId + '/', function(data) {
        $('#plateName').html(data['plate_name']);
        $('#plate-conf-select').val(data['plate_configuration'][0]);

        // Load the plate map
        var pv = new PlateViewer('plate-map-div', plateId, processId);
        pv.notes = new NotesBox(pv.container.parent(),
                                '/process/sample_plating/notes',
                                processId);
        pv.notes.setText(data.process_notes);

        // Show the plate details div
        $('#plateDetails').prop('hidden', false);
      });

    }

    // Add the change callback to the plate configuration select
    $('#plate-conf-select').on('change', change_plate_configuration);
  });

</script>

{% end %}
{%block content %}

<ul id="wellContextMenu" style="display:none;position:absolute">
  <li data="comment">Add comment</li>
</ul>

<label><h3>Plate '<span id='plateName'>New plate</span>'</h3></label>
<!-- Add buttons next to the plate name -->
<button class='btn btn-default' data-toggle='modal' data-target='#updatePlateName'><span class='glyphicon glyphicon-edit'></span> Change name</button>
<!-- <button class='btn btn-danger'><span class='glyphicon glyphicon-trash'></span> Delete</button> -->

<!-- Plate configuration div -->
<div class='form-group'>
  <label class='control-label'><h4>Plate configuration:</h4></label>
  <select id='plate-conf-select' class='form-control'>
    <option selected disabled>Choose plate configuration...</option>
    {% for id, name, rows, cols in plate_confs %}
      <option value='{{id}}' pm-data-rows='{{rows}}' pm-data-cols='{{cols}}'>{{name}}</option>
    {% end %}
  </select>
</div>

<!--Only enable this after plate configuration has been selected-->
<button id='createPlateBtn' class='btn btn-success' onclick='createPlate();' disabled>Create</button>

<div id="plateDetails" hidden>
    <!-- Studies div -->
    <div>
      <label><h4>Studies being plated</h4></label>
      <button class='btn btn-success' data-toggle='modal' data-target='#addStudyModal'><span class='glyphicon glyphicon-plus'></span> Add study</button>
      <div id='study-list'>
      </div>
    </div>

    <!-- Plate map div -->
    <h4>Plate map</h4>

    <!-- Controls div -->
    <div><h5>Controls description</h5>
      <p>Press <kbd class='key'>ESC</kbd> to enter cell <i>selection mode</i></p>
      <p>Press <kbd class='key'>ENTER</kbd> or double click a cell to enter <i>edit mode</i></p>
      <p>To add new Control types, go to <a target='_blank' href="/sample/manage_controls">Admin > Manage control sample types</a></p>
        <table>
          {% for cd in controls_description %}
            <tr>
              <td>{{cd['external_id']}}:</td>
              <td>{{cd['description']}}</td>
            </tr>
          {% end %}
        </table>
      </span>
    </div>

    <div id='plate-map-div' class='spreadsheet-container'></div>

    <!-- Plate map legend div-->
    <div id='plate-map-legend'><h5>Plate map legend</h5>
        <div id='legend-rows'>
          <section id='plate-map-legend-commented' class='legend-container'>
            <div id='plate-map-legend-commented-box' class='well-commented legend-box'></div>
            <div id='plate-map-legend-commented-text' class='legend-text'>
              <p> The plate well has a comment.</p>
            </div>
          </section>
          <section id='plate-map-legend-duplicated' class='legend-container'>
            <div id='plate-map-legend-duplicated-box' class='well-duplicated legend-box'></div>
            <div id='plate-map-legend-duplicated-text' class='legend-text'>
              <p> The Sample ID already exists on this plate.</p>
            </div>
          </section>
          <section id='plate-map-legend-prev-plated' class='legend-container'>
            <div id='plate-map-legend-prev-plated-box' class='well-prev-plated legend-box'></div>
            <div id='plate-map-legend-prev-plated-text' class='legend-text'>
              <p> The Sample ID has been plated previously on another plate.</p>
            </div>
          </section>
          <section id='plate-map-legend-unknown' class='legend-container', style='padding-below:20px;'>
            <div id='plate-map-legend-unknown-box' class='well-unknown legend-box'></div>
            <div id='plate-map-legend-unknown-text' class='legend-text'>
              <p> The Sample ID does not currently exist in any studies.</p>
            </div>
          </section>
        </div>
    </div>

    <h4>Well comments</h4>
    <div id='well-plate-comments' class="comment-box"></div>
</div>

<!-- Modal to update the plate name -->
<div class='modal fade' tabindex='-1' role='dialog' id='updatePlateName' data-keyboard="false" data-backdrop="static">
  <div class='modal-dialog modal-md'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button id='updatePlateNameCloseBtn' type='button' class='close' data-dismiss='modal' aria-hidden='true' hidden>&times;</button>
        <h3>Plate name</h3>
      </div>
      <div class='modal-body'>
        <div id='newNameDiv' class='form-group has-error has-feedback'>
          <label for='newNameInput'>New name:</label>
          <input type='text' class='form-control' id='newNameInput'>
          <span class='glyphicon glyphicon-remove form-control-feedback'></span>
          <p id='newNameDivMessage'>No name specified</p>
        </div>
      </div>
      <div class='modal-footer'>
        <a id='cancelUpdateNameBtn' class='btn btn-default' href='/'>Cancel</a>
        <button id='updateNameBtn' class='btn btn-default' onclick='change_plate_name();' disabled><span></span> Update</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal to add a study -->
<div class='modal fade' tabindex='-1' role='dialog' id='addStudyModal'>
  <div class='modal-dialog modal-lg'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
        <h3>Add study to plate</h3>
      </div>
      <div class='modal-body'>
        <table id="searchStudyTable" class="display" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Study id</th>
              <th>Study title</th>
              <th>Study alias</th>
              <th>Study owner</th>
              <th>Num samples</th>
              <th>Add</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal to make a comment on a well -->
<div class='modal fade' tabindex='-1' role='dialog' id='addWellComment'>
  <div class='modal-dialog modal-lg'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
        <h3>Add comment to well</h3>
      </div>
      <div class='modal-body'>
        <textarea id='wellTextArea' rows="10" cols="75"></textarea>
      </div>
      <div class='modal-footer'>
        <button class='btn btn-danger' data-dismiss='modal' aria-hidden='true'>Cancel</button>
        <button id='addWellCommentBtn' class='btn btn-default'><span></span> Comment</button>
      </div>
    </div>
  </div>
</div>
{% end %}
