{% set message = globals().get('message', '') %}
{% set level = globals().get('level', '') %}
{% if level not in {'danger', 'success', 'info', 'warning'} %}
    {% set level = 'info' %}
{% end %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US">
  <head>
    <title>LabControl</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico">

    <!-- CSS files -->
    <link rel="stylesheet" href="/static/vendor/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/vendor/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/static/vendor/css/bootstrap-theme.min.css" type="text/css">
    <link rel="stylesheet" href="/static/vendor/css/datatables.min.css" type="text/css"/>
    <!-- Make sure this is the last css file loaded! -->
    <link rel="stylesheet" href="/static/css/labcontrol.css" type="text/css">

    <!-- JS files -->
    <script src="/static/vendor/js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="/static/vendor/js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/static/vendor/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/vendor/js/datatables.min.js" type="text/javascript"></script>
    <script src="/static/vendor/js/vue.min.js"></script>
    <script src="/static/js/labcontrol.js" type="text/javascript"></script>

    <!-- Templates extending this file can add more information to the HEAD block -->
    {% block head %}
    {% end %}
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">LabControl</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <!-- If there is a user logged in show the needed menus, his name and the logout button -->
          {% if current_user %}
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Plates <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/plates">List</a></li>
                  <li><a href="/plate_search">Search</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">General workflow</li>
                  <li class="divider"></li>
                  <li><a href="/plate">Plate samples</a></li>
                  <li><a href="/process/gdna_extraction">Extract gDNA</a></li>
                  <li><a href="/process/parse_quantify">PicoGreen Quantification</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Amplicon workflow</li>
                  <li class="divider"></li>
                  <li><a href="/process/library_prep_16S">Prepare amplicon libraries</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Shotgun workflow</li>
                  <li class="divider"></li>
                  <li><a href="/process/gdna_compression">Compress gDNA plates</a></li>
                  <li><a href="/process/normalize">Normalize gDNA plates</a></li>
                  <li><a href="/process/library_prep_shotgun">Prepare shotgun libraries</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pools <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/pools">List</a></li>
                  <li class="divider"></li>
                  <li><a href="/process/poollibraries">Pool library plates</a></li>
                  <li><a href="/process/poolpools">Prepare amplicon sequencing pool</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sequencing runs <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/sequence_runs">List</a></li>
                  <li><a href="/process/sequencing">Prepare sequencing run</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Studies <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/studies">List</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/process/working_primers">Create working primer plates</a></li>
                  <li><a href="/process/equipments">Create equipments</a></li>
                  <li><a href="/sample/manage_controls">Manage control sample types</a></li>
                  <li><a href="/auth/access/">Manage users</a></li>
                </ul>
              </li>
            </ul> <!-- /.nav navbar-nav -->

            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Welcome {{current_user.id}}</a></li>
              <li><a href="/auth/logout/">Log out</a></li>
            </ul>
          <!-- If there is not a user logged in, show the log in form -->
          {% else %}
            <form class="navbar-form navbar-right" role="form" action="/auth/login/" method="post">
              <div class="form-group"><input tabindex="1" type="text" id="username" name="username" placeholder="Email" class="form-control"/></div>
              <div class="form-group"><input tabindex="2" type="password" id="password" name="password" placeholder="Password" class="form-control"/></div>
              <button tabindex="3" type="submit" class="btn btn-success">Sign in</button>
            </form>
          {% end %}
        </div> <!--/.nav-collapse -->
      </div>
    </nav>

    <!-- Area for error messages -->
    {% if message != '' %}
      <div class="alert alert-{{ level }} alert-dismissable">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <p align="center">{% raw message %}</p>
      </div>
    {% end %}

    <div class="container">
      <!-- This div contains the code that all other templates will extend -->
      <div id='template-content' class="container">
        {% block content %}
        {% end %}
      </div>

      <!-- Footer -->
      <div id="footer" style="font-size: 12px; text-align: center; z-index: 1000;">
        Thank you for using LabControl.
        <br/>
        Questions? Open an issue in our <a href="https://github.com/jdereus/labman/issues">GitHub repository</a>.
      </div>

    </div> <!-- container -->

    <!-- Modal to show some error -->
    <div class="modal fade" tabindex="-1" role="dialog" id="errorModal">
      <div class="modal-dialog model-md">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Unexpected error</h3>
          </div>
          <div class="modal-body" id='errorModalContent'>
            ERROR!!!!
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
  </body>
</html>
